body {
    background-color: rgb(255, 244, 230);
    background-image: url(https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190_1280.jpg);
}


.heading {
    font-family: Garamond, Helvetica, Arial, sans-serif;
    font-size: 150%;
    background-color: rgb(21, 21, 95);
    margin: 2vh 0vh 2vh 0vh;
    display: flex;
    background-image: url(https://image.shutterstock.com/image-photo/blue-painted-canvas-muslin-fabric-260nw-557539213.jpg);
    
}

.heading a {
    text-decoration: none;
    color: rgb(255, 244, 230);
}

.logo {
    display: flex;
    justify-content: left;
    width: 6.5vh;
    height: 6.5vh;
    margin-left: 30px;
}

.my-links {
    display: flex;
    align-items: flex-end;
    margin: 0vh 3vh 0vh 108vh
}

.my-links li {
    display: inline-flex;
    align-items: right;
    position: relative;
    color: rgb(255, 244, 230);
    margin: 0vh 3vh 0vh 3vh;
}

.self-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figure {
   background-image: url(https://i.imgur.com/JzvNVDr.jpg);
}

main {
    font-family: garamond ;
}

h2 {
    font-size: 200%;
    font-weight: bold;
    text-decoration: underline;
}

h5{
        font-size: 200%;
        font-weight: bold;
        text-decoration: underline;
        margin-left: 16%;

}

main h2 {
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.about-me p {
    font-style: normal;
    margin-left: 8%;
    margin-right: 8%;
    
}

footer {
    display: flex;
    margin-bottom: 2%;
}

h3 {
    font-size: 200%;
    font-weight: bolder;
    text-decoration: underline;
    margin-left: 15%;
}

.contact-info {
    font-size: 200%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin: 0% 0% 0% 16%;
    
}

.contact h5 {
    border-right: 3px solid black;
    padding-right: 3px;
}

.contact-info a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 0% 2% 0% 2%;
    position: relative;
    display: inline;
}

.contact-item {
    position: relative;
    margin: 0% 7% 0% 7%;
}

.my-work {
    display: flex;
    margin: 2% 0px 2% 0px;
    
}

.my-work h2 {
    border-right: 3px solid black;
    padding-right: 2%;
}

#main-card {
    background-image: url(https://i.pinimg.com/originals/72/51/23/72512323b7eb9405b94935b7d4fd9aeb.gif);
    box-shadow: 0px 4px 5px 0px black;
    border: 3px solid red;
    transition: 0.4s;
    min-width: 438px;
    min-height: 324px;
    text-align: center;
    float: left;
    margin: 2%;
}

#main-card h3 {
    margin: auto;
    position: relatives;
    display: inline;
    font-size: 115%;
}

#card-2 {
    background-image: url(https://i.imgur.com/y0flVfy.png);
    min-width: 280px;
    min-height: 187px;
}

#card-3 {
    background-image: url(https://i.imgur.com/W2dC9ZL.png);
    min-width: 280px;
    min-height: 187px;
}

#card-4 {
    background-image: url(https://i.imgur.com/V2MoOll.png);
    min-width: 280px;
    min-height: 187px;
}

#card-5 {
    background-image: url(https://i.imgur.com/NiMNROE.png);
    min-width: 280px;
    min-height: 187px;
}

.work-card a {
    text-decoration: none;
    color: rgb(255, 244, 230);

}

.work-card {
    border: 3px solid rgb(201, 8, 8);
    height: 187px;
    width: 280px;
    margin: 25px;
    flex-wrap: wrap;
}

#later-work .card-title {

    background-image: url(https://image.shutterstock.com/image-photo/blue-painted-canvas-muslin-fabric-260nw-557539213.jpg);
    border: 2px solid white;
    padding: 0px;
    margin: 13px;
    height: 26px;
    display: flex;
    justify-content: left;
    /* text-align: center; */
    font-size: 2vh;
    position: relative;
    margin-top: 167px;
    margin-right: 0px;
    margin-bottom: auto;
    flex: 1;
    width: fit-content;
    color: rgb(255, 244, 230);

}


#main-card .card-title {
    background-image: url(https://image.shutterstock.com/image-photo/blue-painted-canvas-muslin-fabric-260nw-557539213.jpg);
    border: 2px solid white;
    padding: 4px;
    margin: -41px;
    display: flex;
    justify-content: left;
    /* text-align: center; */
    font-size: 2vh;
    position: relative;
    margin-top: 195px;
    margin-right: 0px;
    margin-bottom: auto;
    flex: 1;
    width: 20%;
}

@media screen and (max-width: 992px){
    .work-card {
      width: 50%;
    }
}

@media screen and (max-width: 497px) {
    .work-card {
      width: 100%;
    }
    
  }